@media (max-width: 600px) {
  .container-Tarefas {
    display: flex;
    box-sizing: border-box;
    height: 100vh;


    .main {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 2%;
      justify-content: space-between;
      gap: 20px;

      .contain-tarefas {
      width: 100%;;
        height: 90%;
        box-sizing: border-box;

        h2 {
          width: 100%;
          text-align: center;
        }

        .listar-tarefas {
          margin-top: 0%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          overflow-y: scroll;
          height: 80vh;
          gap: 10px;
          padding: 20% 2%;
        }
      }

      .descricaoTarefa {
        max-width: 300px;
        min-width: 200px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out; // Para suavizar a transição
        opacity: 0;

        &.visible {
          max-height: 500px; // Ajuste conforme necessário para o conteúdo
          opacity: 1;
          position: fixed;
          left: 10%;
          top: 20%;
          z-index: 1;
        }
      }

      .overlay {
        position: fixed;
        bottom: -100%;
        /* Começa fora da tela */
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        /* Mantém escondido até ser ativado */
        opacity: 0;
        /* Começa invisível */
      }

      .overlay.visible {
        bottom: 0;
        /* Sobe na tela */
        opacity: 1;
        /* Torna visível */
        z-index: 100;
        /* Traz para frente */
      }
    }
  }
}
