.container-Inicio{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    background: #6FA77B;
    justify-content: space-between;

    .secao{
        padding: 5%;

        h2{
            font-size: 2.5rem;
            color: #fff;
        }

        .colecao-cards{
            margin-top: 10%;
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            gap: 15px;
            height: 90%;
            overflow-y: auto;
            
            &::-webkit-scrollbar {
                display: none; /* Oculta a barra de rolagem */
            }
        }
    }

    .registrar{
        margin: 2%;
    }
}