.container-Inicio {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: #6fa77b;
  justify-content: space-between;
  flex-direction: row-reverse;

  .secao {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      width: 100%;
    }

    .colecao-cards {
      margin-top: 10%;
      display: flex;
      flex-wrap: wrap;
      width: 462px;
      gap: 15px;
      height: 90%;
      overflow-y: auto;
      justify-content: center;

      &::-webkit-scrollbar {
        display: none; /* Oculta a barra de rolagem */
      }
    }
  }

  .agenda {
    display: flex;
    flex-direction: column;
    gap: 5%;

    .colecao-tarefas {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .coletar {
      width: 240px;
      height: 300px;
      border: dashed 5px #827033;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .registrar {
    margin: 2%;
  }

  .overlay {
    position: fixed;
    bottom: -100%; /* Começa fora da tela */
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: -1; /* Mantém escondido até ser ativado */
    opacity: 0; /* Começa invisível */
  }

  .overlay.visible {
    bottom: 0; /* Sobe na tela */
    opacity: 1; /* Torna visível */
    z-index: 100; /* Traz para frente */
  }
}
