.container-Inicio{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    background: #6FA77B;
    justify-content: space-between;

    .secao{
        padding: 5%;

        h2{
            font-size: 2.5rem;
            color: #fff;
        }
    }

    .registrar{
        margin: 2%;
    }
}