.container-Inicio{
    display: flex;
    box-sizing: border-box;
    

    .container-navega{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10%;
        height: 100vh;
        width: auto;
        justify-content: center;
        padding: 2%;
    }
}