@media (max-width: 600px) {
  .container-Inicio {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    background: #6fa77b;
    justify-content: space-around;
    flex-direction: column;
    
    

    .secao {
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        width: 100%;
      }

      .colecao-cards {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 15px;
        height: 35vh;
        overflow-x: auto; /* Altera para rolagem horizontal */
        scroll-behavior: smooth;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
          display: none; /* Oculta a barra de rolagem */
        }
      }
    }

    .agenda {
      display: flex;
      flex-direction: column;
      gap: 5%;

      .colecao-tarefas {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
      }

      .coletar {
        display: none;
      }
    }

    .registrar {
      margin: 2%;
    }
  }
}
