.container-Navegacao {
  /* From Uiverse.io by Web-Potato */ 
/* From Uiverse.io by e-coders */ 
button {
    appearance: none;
    background-color: #2D6C3B;
    border-radius: 3.75em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }
}

@media (max-width: 600px) {
  button {
    border: none !important;
    padding: .5em !important;
    
  }
}
