/* From Uiverse.io by andrew-demchenk0 */
.container-molde-tarefa {
 
  .info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    gap: 10px;

    .textos{
      display: flex;
      gap: 20px;
      justify-content: space-around;
      width: 100%;
    }

    .voluntario {
      width: 40%;
      text-align: end;
    }

    .apagar{
      background: none;
      border: none;
    }
  }

  .info.Pendente {
    background: rgb(255, 97, 97);
  }

  .info.Progresso {
    background: rgb(230, 143, 12);
  }

  .info.Finalizado {
    background: rgb(54, 90, 30);
  }

  .info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }

  .info__icon path {
    fill: #fff;
  }

  .info__title {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 30%;
  }

  .info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }

  .info__close path {
    fill: #fff;
  }
}
