*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  
}

button{
  cursor: pointer;
}
.contain-sidebar{
  padding: 0% 2%;
  box-sizing: border-box;
}

.contain-sidebarMobile{
  display: none;
}

@media (max-width: 600px) {
  .contain-sidebar{
    display: none;
  }

  .contain-sidebarMobile{
    display: block;
    
  }

}

