@media (max-width: 600px) {
  .container-CardPantas {
    /* From Uiverse.io by alexmaracinaru */
    .card {
      width: 150px;
      height: 200px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 1px 5px 60px 0px #100a886b;
      color: #000;
    }

    .card .card-border-top {
      width: 60%;
      height: 3%;
      background: #827033;
      margin: auto;
      border-radius: 0px 0px 15px 15px;
    }

    .card span {
      font-weight: 600;
      color: #000;
      text-align: center;
      display: block;
      padding-top: 10px;
      font-size: 20px;
    }

    .card .job {
      font-weight: 400;
      display: block;
      text-align: center;
      padding-top: 3px;
      font-size: 14px;
    }

    .card .img {
      width: 70px;
      height: 80px;
      background: #827033;
      border-radius: 15px;
      margin: auto;
      margin-top: 25px;
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;
    }

    .card button {
      padding: 8px 25px;
      display: block;
      margin: auto;
      border-radius: 8px;
      border: none;
      margin-top: 30px;
      background: #827033;
      color: white;
      font-weight: 600;
    }

    .card button:hover {
      background: #2d6c3b;
      cursor: pointer;
    }
  }
}
