@media (max-width: 600px) {
  .container-Recursos {
    display: flex;
    box-sizing: border-box;
    background: #dbcea0;

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2%;
      height: 100vh;

      .recursos {
        display: flex;
        padding: 5%;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        padding:  0 0 25% 0 ;
        margin-top: 5%;
      }

      /* Esconder a barra de rolagem */
      .recursos::-webkit-scrollbar {
        display: none; /* Para navegadores baseados em WebKit */
      }
    }
    .overlay {
      position: fixed;
      bottom: -100%;
      /* Começa fora da tela */
      left: 0;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      /* Mantém escondido até ser ativado */
      opacity: 0;
      /* Começa invisível */
    }

    .overlay.visible {
      bottom: 0;
      /* Sobe na tela */
      opacity: 1;
      /* Torna visível */
      z-index: 100;
      /* Traz para frente */
    }
  }
}
